@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
}

textarea{resize:vertical}

.fc-event { overflow-y: hidden; }

.modal-header-sm
{ padding: 15px !important;}

.textarea-sm{ height: 100px !important}
.dotted-bottom{border-bottom:1px dashed #999999}

.keyControlRowMandatory{ border-left: 2px solid #FF6200;padding-left: 5px;}
.keyControlRowRecommended{ border-left: 2px solid #999999;padding-left: 5px;}

.risk-matrix-info:hover{cursor:pointer}
.field-validation-error{
    color: RED;
    font-size:12px;
    display: inline-block;
    margin-top: 5px;
}
.field-validation-error:before {
    content: "\f071";
    font-family: 'FontAwesome';
    margin: 0 4px;
}


.robot-vault-item:hover { cursor: pointer; }
.table-date-column {
    width: 150px !important;
}
.event-Preview{
    border:1px dashed #FF6200 !important;
    background-color:rgba(255,98,0,0.7) !important;
}

.cycle-panel-item{display:none}
.alert-success {
    color: #3c763d;
    background-color: #e6f99d;
    border-color: #d6e9c6;
    border-radius:4px !important;
}

.dropdown-menu > li > a{ padding-left: 10px;}

.text-green{color: #82984b}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.fc-unthemed .fc-today {
    background: #f1f3f6;
}

.box-bordered{border:1px solid #DDDDDD;border-radius:3px;padding-left:5px;padding-right:5px;}

.alert-sm{padding:5px;}
.no-padding-left{padding-left:0px !important}
.no-padding-right{padding-right:0px !important}
.form-control-sm{font-size:12px;padding: 5px 10px;height:31px}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #FF6200;
    border-color: #FF3200;
    color: #fff;
    cursor: default;
    z-index: 2;
}


.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -8px;
}


.label-sm{font-size:12px; font-weight:normal;padding: .3em .6em .3em;}
.label-Online{ background-color: #7aa02b;color: WHITE;}
.label-Offline{ background-color: RED;color: WHITE;}
.label-Restarting{ background-color: ORANGE;color: WHITE;}
.label-NotDefined, .label-Error{ background-color: GREY;color: WHITE;}

.border-bottom-dashed{border-bottom:1px dashed #CCCCCC;padding-bottom:5px}

.contact-panel:hover .panel-body {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: none;
    -webkit-animation-name:none;
    z-index: 1;
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background-color:rgb(255,255,255); /* fallback for IE 8 and below */
    background-color:rgba(250,250,250,0.8);
    z-index:1001;
    display:none;
}
.overlay-message{
    position: fixed;
    top:30px;
    left:30px;
    width:400px;
    height:250px;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

.btn-sm{font-size:13px;}
tr[details-url]>td:hover{cursor:pointer}

ul.pagination-disabled>li:not(.active)>a{background-color:#F6F6F6 !important; pointer-events: none;
    cursor: default;}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 11px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #666666;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.col-header{font-size:11px;color:#999999}

.panel-title {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.space-left-sm{padding-left:5px;}
.landing-page p {
    color: #6a6c6f;
}
.margin-top-xs {
    margin-top: 5px !important;
}
.margin-top-sm {
    margin-top: 10px !important;
}

.margin-top-md {
    margin-top: 15px !important;
}

.fa-spin-slow {
    -webkit-animation: fa-spin 1.8s infinite linear;
    animation: fa-spin 1.8s infinite linear;
}

.margin-bottom-xs {
    margin-bottom: 5px !important;
}
.margin-bottom-sm {
    margin-bottom: 10px !important;
}

.margin-bottom-md {
    margin-bottom: 15px !important;
}

.margin-right-xs{
    margin-right: 5px !important;
}
.margin-right-sm{
    margin-right: 10px !important;
}

.margin-left-xs{
    margin-left: 5px !important;
}

.margin-top-xs{margin-top:5px;}
.margin-top-sm{margin-top:10px;}

.full-width{width:100% !important}

.font-sm{font-size:13px !important}

.bg-light {
    background-color: #f9f9f9;
}
.btn-default:hover {
    background-color:#f9f9f9 !important;
}


.btn-merge-script{
    background-color:#dee6f9 !important;
    color: #333;
}

.btn-merge-robot{
    background-color:#ffd24d !important;
    color: #333;
}

.event-MergedWithScirptCalendar{
    background-color:#dee6f9 !important;
    border-color:#dee6f9;
    color: #333;
}

.event-MergedWithRobotCalendar{
    background-color:#ffd24d !important;
    border-color:#ffd24d !important;
    color: #333;
}
.event-Planned, .event-Preview{
    background-color:#FF6200;
    color:white;
}

.panel-body-padding-xs{padding:5px 5px 5px 5px !important;}
.panel-body-padding-sm{padding:10px !important;}
.panel-body-padding-md{padding:15px !important;}

.no-padding{padding:0px !important}

.btn-orange:focus {color:white !important}
.btn-orange{background-color:#FF6200;color:white;border:1px solid #FF6200;}
.btn-orange:hover{background-color:#f36a15;color:white;border:1px solid #FF6200;}

.hovered:hover {
    cursor: pointer;
}

.landing-page header {
    height: 490px;
    padding-top: 50px;
    margin-bottom: 0px;
    border-bottom:1px solid #F3f3f3
}

.landing-page .navbar-default .navbar-toggle:hover, .landing-page .navbar-default .navbar-toggle:focus {
    background: #FF6200;
}

.automation-platform-logo{
    width:500px
}

@media(max-width:1199px)
{
    .landing-page header {
        height: 500px;
        padding-top: 50px;
        margin-bottom: 0px;
        border-bottom:1px solid #F3f3f3
    }

    h1{font-size:30px;}

    .automation-platform-logo{
        width:450px
    }
}

.landing-page section {
    padding: 40px 0 50px 0;
    border-bottom: 1px solid #e4e5e7;
}

.landing-page .brand-desc {
    color: #455463;
    margin: 17px 10px 0 50px;
    width: 180px;
    font-size:16px;
}

.landing-page .navbar-default .navbar-nav > .active > a, .landing-page .navbar-default .navbar-nav > .active > a:hover, .landing-page .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #FF6200;
    border: none;
}

.landing-page .navbar-nav > li > a {
    font-size: 13px;
    font-weight: normal;
    padding: 16px 15px;
    color: #455463;
}

#side-menu li .nav-second-level li a {
    padding: 10px 10px 10px 18px;
    color: #6a6c6f;
    text-transform: none;
    font-weight: normal;
}

#side-menu li .nav-second-level li.active a {
    color: #666666;
    background-color: #efefef;
    border-left: 3px solid #FF6200;
}

#side-menu > li.active > a
{
    color: #34495e;
    background-color: #f7f9fa !important;
    border-left:3px solid #FF6200;
}


#side-menu li a {
    color: #6a6c6f;
    font-weight: 300;
    padding: 10px 15px;
    border-left:3px solid #f7f9fa;

}

.nav-header{
    padding: 4px;
    padding-left: 20px;
    background-color: rgb(158, 158, 158);
    border: 0px;
    color: #ffffff;
    /* font-weight: lighter; */
    font-size: 12px;
    font-family: Tahoma;
}

.normalheader {
    min-width: 320px;
    padding: 20px 20px 0px 20px;
}

.content {
    padding: 15px 20px 20px 20px;
    min-width: 320px;
}

.dotted{color:#666666;border-bottom:1px dashed #999999;font-size:16px;font-weight:normal}
.dotted:hover{color:#666666;}
.dashed-bottom{border-bottom:1px dashed #999999}
.dashed-bottom-light{border-bottom:1px dashed #CCCCCC}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #FFFFFF;
    background-color: #FF6200;
    border-color: #FF6200;
}

.label-md{font-size:13px;font-weight:normal;}
body {
    font-family:'OpenSans-Regular'
}

.h-200 {
    min-height: 255px;
}

.text-success {
    color: #FF7200;
}

.full .progress-bar-success {
    background-color: #FF7200;
    border-right: 4px solid #FF2200;
}

.font-xs{font-size:11px}
.no-margin-top{margin-top:0px !important;padding-top:0px !important}

.label-success {
    background-color: #79af32 !important;
}

#logo.light-version {
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e7;
    text-align: center;
}

#logo {
    float: left;
    width: 180px;
    background-color: #34495e;
    padding: 13px 10px 10px 4px;
    height: 56px;
    text-align: center;
}

#menu {
    width: 180px;
    bottom: 0;
    float: left;
    left: 0;
    position: absolute;

    transition: all 0.4s ease 0s;
}

.stats-title h4 {
    text-transform:none;
    font-size: 16px;
    font-weight: 400;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    font-size:13px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 31px;
    user-select: none;
    -webkit-user-select: none;
}

.hpanel.horange .panel-body {
    border-top: 2px solid #ff6200;
}

.hpanel.hdefault .panel-body {
    border-top: 2px solid #34495e;
}

.spinner > div {
    background-color: #FF6200;
    height: 100%;
    width: 8px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

ul.jstree-container-ul>li>i {display:none !important;}

.btn-grey {
    background-color: #f1f3f6;
    border-color: #e4e5e7;
    color: #6a6c6f;
}

.btn-grey:hover {
    background-color: #e4e7ea;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight:normal;
    font-size: 12px !important;
    color: #888888;
    
    
}

.padding-lr-sm{padding-left:10px !important;padding-right:10px !important}
.table-middled tbody tr td{vertical-align:middle !important;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px dashed #ddd;
}

.table {
    margin-bottom: 0px;
}

.panel-body h5, .panel-body h4 {
    font-weight: 400;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9f9f9 !important;
}

.notes-Pending {
    background: #888888;
}

.notes-InProgress {
    background: #4ea5e0;
}

.notes-Rejected {
    background: #d24637;
}

.notes-Done {
    background: #4ea227;
}