<footer class="footer">
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Hermes CRM</strong><br />2017 Copyright Paweł Naworski
        </div>
    </div>
</footer>
