        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li>
                        <span>@ViewBag.Controller</span>
                    </li>
                    <li class="active">
                        <span>@ViewBag.Action</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @ViewBag.PageTitle
            </h2>
            <small>@ViewBag.Description</small>
        </div>
